<style>
    .tile-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Adjust alignment as needed */
    }
 
    .tile {
        width: calc(30% - 20px); /* Adjust the width for the number of tiles in a row */
        margin: 10px;
        padding: 20px;
        background-color: #fafafa; /* Background color for tiles */
        border: 1px solid #ddd; /* Optional: border for the tile */
        border-radius: 5px; /* Rounded corners */
        box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Optional: shadow for depth */
    }
 </style>
   
    {{ define "main" }}
    <h1>In the layout file</h1>
    
    {{ end }}